.container{
    margin:auto;
    padding:10px;
    border:5px solid rgb(145, 102, 187);
    width:fit-content;
    margin-bottom :10px;
    border-radius: 5px;
    background-color:wheat;
}

   

.heading-container{
    text-align: center;
    padding-bottom: 10px;
  background-color:paleturquoise;
}
.main-container{
    background-color:pink;
}
